body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container {
    display: flex;
    margin-bottom: 110px;
}

h1 {

    font-size: 40px;
}

.full-name {
    color: orange;
}

.hire-me-link {
    text-decoration: none;
    background-image: linear-gradient(orange, cyan);
    padding: 10px 20px;
    color: rgb(21, 116, 199);
    border-radius: 10px;
    font-weight: 700;
}

.top-half {
    width: 50%;
    padding-left: 4%;
}

.top-half img {
    padding-top: 5%;
    width: 80%;
}

.top-section {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-section {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.lower-section {
    padding-left: 2%;
    padding-right: 2%;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
}


.bottom {
    width: 40%;
    box-shadow: 10px 10px 20px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 5px;
    text-align: left;
    border-radius: 15px;
    border-left: 2px solid blue;
}

.foot {
    text-align: center;
}