body {
    font-family: 'Poppins', sans-serif;
}

h1 {

    font-size: 50px;
}

.full-name {
    color: orange;
}

.hire-me-link {
    text-decoration: none;
    background-image: linear-gradient(orange, blue);
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 10px;
}