body {
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
}

h1 {

    font-size: 40px;
}

.full-name {
    color: orange;
}

.hire-me-link {
    text-decoration: none;
    background-image: linear-gradient(orange, blue);
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 10px;
}

.top-half {
    width: 50%;
    padding-left: 2%;
}

.top-half img {
    padding-top: 5%;
    width: 80%;
}